<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c - %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <RollingFile name="com-seda-cart-ws"
                	  fileName="${sys:jboss.server.log.dir}/com-seda-cart-ws.log"
                	  filePattern="%d{yyyy-MM-dd}-com-seda-cart-ws.%i.log.gz"
                	  ignoreExceptions="false" filePermissions="rw-rw-r--">
            <PatternLayout pattern="${LOG_PATTERN}"/>
			<!-- <JsonTemplateLayout eventTemplateUri="classpath:ElasticsearchJsonEventLayoutV1.json"/> -->
            <Policies>
                <SizeBasedTriggeringPolicy size="60MB" />
            </Policies>
            <!-- <DefaultRolloverStrategy max="10" /> -->
            <ThresholdFilter level="INFO"/>
        </RollingFile>
        <RollingFile name="com-seda-cart-ws-error"
                	 fileName="${sys:jboss.server.log.dir}/com-seda-cart-ws-error.log"
                	 filePattern="com-seda-cart-ws-error.%i.log"
                     ignoreExceptions="false" filePermissions="rw-rw-r--">
			<JsonTemplateLayout eventTemplateUri="classpath:ElasticsearchJsonEventLayoutV1.json"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="60MB" />
            </Policies>
            <ThresholdFilter level="ERROR"/>
        </RollingFile>
    </Appenders>
    <Loggers>
		<Logger name="com.seda.cart" level="DEBUG" additivity="false">
			<AppenderRef ref="com-seda-cart-ws" />
            <!-- <AppenderRef ref="com-seda-cart-ws-debug" /> -->
            <AppenderRef ref="com-seda-cart-ws-error" />
		</Logger>         
        <Root level="INFO" >
            <AppenderRef ref="STDOUT" />
        </Root>
    </Loggers>
</Configuration>
